{# TEMPLATE VAR SETTINGS #}
{%- set url_root = '' %}
{% set script_files = script_files + [
    '_static/js/jquery.js',   
    '_static/js/underscore.js', 
    '_static/js/doctools.js', 
    '_static/searchtools.js', 
    '_static/js/jquery-1.11.0.min.js',  
    '_static/js/jquery-fix.js',      
    '_static/js/jquery.mCustomScrollbar.js',  
    '_static/js/main.js',       
  ]
%}

{##### MACROS #####}
{%- macro script() %}   
    <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
            URL_ROOT:    '{{ url_root }}',
            VERSION:     '{{ release|e }}',
            COLLAPSE_INDEX: false,
            FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
            HAS_SOURCE:  {{ has_source|lower }}
          };
    </script>

    {%- for scriptfile in script_files %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}
{%- endmacro %}

<!doctype html>
<html lang="en">
  <head>    
      <meta charset="UTF-8">
      <title>Stratio documentation</title>
      <meta name="viewport" content="width=device-width"/>
      <!-- css -->
      <link rel="stylesheet" href="_static/css/style.css"/>
      <link rel="stylesheet" href="_static/css/normalize.css"/>
      <link rel="stylesheet" href="_static/css/jquery.mCustomScrollbar.min.css"/>
      <link rel="stylesheet" href="_static/css/font-awesome.min.css"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

      <!-- scripts -->      
      {{ script() }}    
    
      <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />

      <!-- Google Fonts embed code -->
      <script type="text/javascript">
          (function() {
              var link_element = document.createElement("link"),
                  s = document.getElementsByTagName("script")[0];
              if (window.location.protocol !== "http:" && window.location.protocol !== "https:") {
                  link_element.href = "http:";
              }
              link_element.href += "//fonts.googleapis.com/css?family=Muli:300italic,300,400italic,400";
              link_element.rel = "stylesheet";
              link_element.type = "text/css";
              s.parentNode.insertBefore(link_element, s);
          })();
      </script>  
    {% block extrahead %}
  
    {% endblock %}
  </head>
    <body>
        <header>
          <div id="main-header">
            <i id="responsive-button" class="fa fa-bars "></i>
            <img src="_static/images/stratio-logo.png">
            <div class="site-title">
                <div>
                     ONLINE DOCUMENTATION
                </div>
            </div>
          </div>
        </header>       
        <aside id="sidebar">
          <div id="sidebar-options">
            <a href="index.html">
              <img class="module-logo" src="_static/images/modules_logos/{{ theme_module_name }}.png">
              <div class="module-name">
                  STRATIO
                  <span> {{ theme_module_name }} </span>              
              </div>
            </a>
            <div id="select-product" class="closed">
                <a href="" class="close-more-products">
                    <i class="fa fa-times"></i>
                </a>
                <h3> SELECT ONE OF THE STRATIO PRODUCTS...</h3>
                <div class="products-content">
                    <ul class="category">
                        <li><a href=""><img class="products-logo" src="_static/images/modules_logos/platform.png">STRATIO <span> PLATFORM </span> </a></li>
                    </ul>
                    <ul class="category">
                        <li><a href=""> <img class="products-logo" src="_static/images/modules_logos/admin.png">STRATIO <span> ADMIN </span> </a> </li>
                        <li><a href=""> <img class="products-logo" src="_static/images/modules_logos/ingestion.png">STRATIO <span> INGESTION </span></a></li>
                        <li><a href=""> <img class="products-logo" src="_static/images/modules_logos/streaming.png">STRATIO <span> STREAMING </span></a></li>
                        <li><a href=""> <img class="products-logo" src="_static/images/modules_logos/crossdata.png">STRATIO <span> CROSSDATA </span></a></li>
                        <li><a href=""> <img class="products-logo" src="_static/images/modules_logos/deep.png">STRATIO <span> SPARK DEEP </span></a></li>
                        <li><a href=""> <img class="products-logo" src="_static/images/modules_logos/cassandra.png">STRATIO <span> CASSANDRA </span></a></li>
                    </ul>
                    <ul class="category">
                        <li><a href=""> <img class="products-logo" src="_static/images/modules_logos/datavis.png">STRATIO <span> DATAVIS </span></a> </li>
                        <li><a href=""> <img class="products-logo" src="_static/images/modules_logos/sparkta.png">STRATIO <span>SPARKTA</span></a> </li>
                        <li><a href=""> <img class="products-logo" src="_static/images/modules_logos/sparkdb.png">STRATIO <span>SPARKDB</span></a> </li>
                    </ul>
                </div>
            </div>
            <div class="more-products-arrow">
                    <a href=""> › </a>

            </div>
            <div id="versions" class="select-style">    
              <ul>
                  <li> {{ version }} <a class="arrow">›</a></li>
                 {%- for avariableVersion in theme_versions %}
                    <li> 
                        <a href="../{{ avariableVersion }}">
                           {{ avariableVersion }}
                        </a>                        
                    </li>
                {%- endfor %}     
              </ul> 
              </div>
              <a href="{{ theme_github }}" target="_blank" class="support">
              <img class="helper" src="_static/images/github.png" alt=""/>
              </a>   
              <a href="{{ theme_jira }}" target="_blank" class="support">
              <img class="helper" src="_static/images/jira.png" alt=""/>
              </a> 
              <a href="https://twitter.com/stratiobd" target="_blank" class="support">
               <img class="helper" src="_static/images/twitter.png" alt=""/>
              </a>         
            </div>
            <div id="search-wrapper">
              <i class="fa fa-search"></i>
              {% include "searchbox.html" %}
            </div>
          <div id="main-menu">
            {% block menu %}
              {% set toctree = toctree(maxdepth=2, collapse=True, includehidden=True) %}
              {% if toctree %}
                {{ toctree }}
              {% else %}
                {{ toc }}
              {% endif %}
            {% endblock %}
          </div>       
        </aside>
        <div id="main-content">      
          {%- block content %}                                       
            <section id="body-content">
              <div class="body">
                {% block body %}{% endblock %}
              </div>
            </section>
          {% endblock %}
        </div>
    </body>
</html>