{# TEMPLATE VAR SETTINGS #}
{%- set url_root = '' %}
{% set script_files = script_files + [
    'http://docs.stratio.com/_static/js/jquery.js',   
    'http://docs.stratio.com/_static/js/underscore.js', 
    'http://docs.stratio.com/_static/js/doctools.js', 
    'http://docs.stratio.com/_static/searchtools.js', 
    'http://docs.stratio.com/_static/js/jquery-1.11.0.min.js',  
    'http://docs.stratio.com/_static/js/jquery-fix.js',      
    'http://docs.stratio.com/_static/js/jquery.mCustomScrollbar.js',  
    'http://docs.stratio.com/_static/js/main.js?v=1.0',       
  ]
%}

{##### MACROS #####}
{%- macro script() %}   
    <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
            URL_ROOT:    '{{ url_root }}',
            VERSION:     '{{ release|e }}',
            COLLAPSE_INDEX: false,
            FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
            HAS_SOURCE:  {{ has_source|lower }}
          };

          var currentVersion = '{{ version }}';
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41701261-4', 'auto');
      ga('send', 'pageview');
    </script>

    {%- for scriptfile in script_files %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}
{%- endmacro %}

<!doctype html>
<html lang="en">
  <head>    
      <meta charset="UTF-8">
      <title>Stratio documentation</title>
      <meta name="viewport" content="width=device-width"/>
      <!-- css -->
      <link rel="stylesheet" href="http://docs.stratio.com/_static/css/style.css?v=1.0"/>
      <link rel="stylesheet" href="http://docs.stratio.com/_static/css/normalize.css"/>
      <link rel="stylesheet" href="http://docs.stratio.com/_static/css/jquery.mCustomScrollbar.min.css"/>
      <link rel="stylesheet" href="http://docs.stratio.com/_static/css/font-awesome.min.css"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

      <!-- scripts -->      
      {{ script() }}    
    
      <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />

      <!-- Google Fonts embed code -->
      <script type="text/javascript">
          (function() {
              var link_element = document.createElement("link"),
                  s = document.getElementsByTagName("script")[0];
              if (window.location.protocol !== "http:" && window.location.protocol !== "https:") {
                  link_element.href = "http:";
              }
              link_element.href += "//fonts.googleapis.com/css?family=Muli:300italic,300,400italic,400";
              link_element.rel = "stylesheet";
              link_element.type = "text/css";
              s.parentNode.insertBefore(link_element, s);
          })();
      </script>  
    {% block extrahead %}
  
    {% endblock %}
  </head>
    <body>
        <header>
          <div id="main-header">
            <i id="responsive-button" class="fa fa-bars "></i>
            <a href="http://docs.stratio.com">
               <img src="http://docs.stratio.com/_static/images/stratio-logo.png">
            </a>
            <div class="site-title">
            <div>
                 ONLINE DOCUMENTATION
            </div>
              <ul class="main-menu">
                <li><a href="http://blog.stratio.com" target="_blank">blog</a></li>
                <li><a href="http://www.stratio.com" target="_blank">stratio.com</a></li>
              </ul>
            </div>
          </div>
        </header>       
        <aside id="sidebar">
          <div id="sidebar-options">
            <a href="index.html">
              <img class="module-logo" src="http://docs.stratio.com/_static/images/modules_logos/{{ theme_module_name }}.png">
              <div id="module-name" class="module-name" >
                  STRATIO
                  <span> {{ theme_module_name }} </span>              
              </div>
            </a>
            <div id="select-product" class="closed">
                <a href="" class="close-more-products">
                    <i class="fa fa-times"></i>
                </a>
                <h3> SELECT ONE OF THE STRATIO PRODUCTS...</h3>
                <div class="products-content">
                    <ul id="products" class="category">
                      
                    </ul>
                </div>
            </div>
            <div class="more-products-arrow">
                    <a href=""> › </a>

            </div>
            <div id="versions" class="select-style">    
              <ul id="versions-list">
                  <li> {{ version }} <a class="arrow">›</a></li>                 
              </ul> 
              </div>
              <a href="{{ theme_github }}" target="_blank" class="support">
              <img class="helper" src="http://docs.stratio.com/_static/images/github.png" alt=""/>
              </a>   
              <a href="{{ theme_jira }}" target="_blank" class="support">
              <img class="helper" src="http://docs.stratio.com/_static/images/jira.png" alt=""/>
              </a> 
              <a href="https://twitter.com/stratiobd" target="_blank" class="support">
               <img class="helper" src="http://docs.stratio.com/_static/images/twitter.png" alt=""/>
              </a>         
            </div>
            <div id="search-wrapper">
              <i class="fa fa-search"></i>
              {% include "searchbox.html" %}
            </div>
          <div id="main-menu">
            {% block menu %}
              {% set toctree = toctree(maxdepth=2, collapse=True, includehidden=True) %}
              {% if toctree %}
                {{ toctree }}
              {% else %}
                {{ toc }}
              {% endif %}
            {% endblock %}
          </div>       
        </aside>
        <div id="main-content">      
          {%- block content %}                                       
            <section id="body-content">
              <div class="body">
                {% block body %}{% endblock %}
              </div>
            </section>
          {% endblock %}
        </div>
    </body>
</html>