{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
  {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
  {%- set titlesuffix = "" %}
{%- endif %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Stratio documentation</title>

        <!-- css -->
        <link rel="stylesheet" href="_static/css/style.css"/>
        <link rel="stylesheet" href="_static/css/normalize.css"/>
        <link rel="stylesheet" href="_static/css/jquery.mCustomScrollbar.min.css"/>
        <link rel="stylesheet" href="_static/css/font-awesome.min.css"/>

        <!-- scripts -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="_static/js/main.js"></script>
        <script type="text/javascript" src="_static/js/jquery.mCustomScrollbar.js"></script>

        <!-- Google Fonts embed code -->
        <script type="text/javascript">
            (function() {
                var link_element = document.createElement("link"),
                    s = document.getElementsByTagName("script")[0];
                if (window.location.protocol !== "http:" && window.location.protocol !== "https:") {
                    link_element.href = "http:";
                }
                link_element.href += "//fonts.googleapis.com/css?family=Muli:300italic,300,400italic,400";
                link_element.rel = "stylesheet";
                link_element.type = "text/css";
                s.parentNode.insertBefore(link_element, s);
            })();
        </script>
    </head>
    <body>
        <header>
          <div id="main-header">
            <i id="responsive-button" class="fa fa-bars "></i>
            <img src="_static/images/stratio-logo.png">
            <div class="site-title">
                <div>
                     ONLINE DOCUMENTATION
                </div>
            </div>
          </div>
        </header>       
        <aside id="sidebar">
          <div id="sidebar-options">
             <img class="module-logo" src="_static/images/module-logo.png">
            <div class="module-name">
                STRATIO
                <span> STREAMING </span>              
            </div>
            <div class="more-products-arrow">

            </div>
             <div id="versions" class="select-style">    
                <ul>
                    <li> {{ version }} <a class="arrow">›</a></li>
                   {%- for avariableVersion in theme_versions %}
                      <li> 
                          <a href="../{{ avariableVersion }}">
                             {{ avariableVersion }}
                          </a>                        
                      </li>
                  {%- endfor %}     
                </ul> 
            </div>
            <a href="{{ theme_github }}" target="_blank" class="support">
                <img class="helper" src="_static/images/github.png" alt=""/>
            </a>   
             <a href="{{ theme_jira }}" target="_blank" class="support">
                <img class="helper" src="_static/images/jira.png" alt=""/>
             </a> 
             <a href="https://twitter.com/stratiobd" target="_blank" class="support">
                 <img class="helper" src="_static/images/twitter.png" alt=""/>
             </a>         
          </div>
          <div id="main-menu">
            {% block menu %}
              {% set toctree = toctree(maxdepth=2, collapse=True, includehidden=True) %}
              {% if toctree %}
                {{ toctree }}
              {% else %}
                {{ toc }}
              {% endif %}
            {% endblock %}
          </div>       
        </aside>
        <div id="main-content">                
                {% include "breadcrumbs.html" %}                   
            <section id="body-content">
                {% block body %}{% endblock %}
            </section>
        </div>
    </body>
</html>