a{
  text-decoration: none;
  color: #41b6e6;
}

html{
  height: 100%;
}


body{
  font-size: 13px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  background: #f2f2f2;
  height: 100%;
}

#main-content{
  min-height: calc(100% - 70px)
}

header{
  width: 100%;
  height: 70px;
  background: #114856;
  box-sizing: border-box;
  position: fixed;
}

#main-header{
  width: 100%;
  max-width: 1280px;
  min-height: 50px;
  background: #113745;
  padding-top:20px;
  padding-left: 20px;
  box-sizing: border-box;
  float: left;
  height: 100%;
}

header img{
  float:left;
  margin-top: 3px;
}

header .site-title{
  float:left;
  height: 30px;
  width: 235px;
  background: #7cdca7;
  text-align: center;
  margin-left: 20px;
  font-size: 10px;
  color: white;
  letter-spacing: 3px;
  padding-top: 10px;
  box-sizing: border-box;
  -ms-transform: skew(-22deg,0deg); /* IE 9 */
  -webkit-transform: skew(-22deg,0deg); /* Chrome, Safari, Opera */
  transform: skew(-22deg,0deg); /* Standard syntax */
}

header .site-title div{
  -ms-transform: skew(+22deg,0deg); /* IE 9 */
  -webkit-transform: skew(+22deg,0deg); /* Chrome, Safari, Opera */
  transform: skew(+22deg,0deg); /* Standard syntax */
}


#sidebar{
  position: fixed;
  width: 280px;
  background: #f2f2f2;
  top: 70px;
  bottom: 0px;
  box-sizing: border-box;
}

#sidebar-options{
  width: 100%;
  height: 120px;
  background: #00749b;
  box-sizing: border-box;
  float: left;
}

#sidebar-options .module-logo{
  float: left;
  height: 60px;
  width: 50px;
  padding: 15px 0 15px 20px;
  background: #00b7e8;
  box-sizing: border-box;
}

#sidebar-options .module-name{
  float: left;
  width: 160px;
  height: 60px;
  color: white;
  font-size: 14px;
  padding: 23px 0 15px 10px;
  background: #00b7e8;
  box-sizing: border-box;
  white-space:nowrap;   
  overflow:hidden;
  text-overflow: ellipsis;
}

.module-name span{
  text-transform: uppercase;
}

#sidebar-options .more-products-arrow{
  float:right;
  width: 70px;
  height: 60px;
  background: #00b7e8;
  box-sizing: border-box
}

#sidebar-options .more-products-arrow > a{
  box-sizing: border-box;
  font-size: 40px;
  padding-left: 15px;
  line-height: 0.9;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #00749b;
  float: right;
  margin-right: 12px;
  margin-top: 11px;
  -webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);
}

#sidebar-options .module-name span{
  font-weight: bold;
}

#sidebar-options .more-products-arrow{
  float: left;

}

#sidebar-options .helper{
  margin-right: 10px;
  display: inline-block;
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  float: left;
  margin-top: 20px;
}


#sidebar.mCustomScrollbar{
  padding-right: 0px;
}

#main-content{
  width: calc(100% - 280px);
  max-width:1000px;
  margin-left: 280px;
  float: left;
  background: #fff;
  box-sizing: border-box;
  margin-top:70px;
}

#body-content{
  width: 100%;
  background: #fff;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0 20px 40px 20px;
  box-sizing: border-box;
}

#body-content img {
  width: 100%;
}

/***********/
/* Content */
/***********/

#body-content{
  line-height: 1.5;
}

#body-content h1{
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#body-content h2{
  font-size: 18px;
  font-weight: normal;
  padding-top: 90px;
}


#body-content h3{
  font-size: 14px;
  font-weight: bold;
}


#body-content .section{
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
}

#body-content .section .section{
  margin-top: -70px;
}

#body-content .section .section .section{
  margin-top: 40px;
}

.headerlink{
  display: none;
}



/*** MENU ***/
#main-menu{
  height: calc(100% - 120px);
  float: left;
  padding: 20px 0 60px 0;
  box-sizing: border-box;
}

#main-menu ul{
  margin: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

#main-menu ul li{
  text-indent: 0px;
}

#main-menu a{
  color: #63666a;
  text-decoration: none;
}

#main-menu a:hover{
  font-weight: bold;
}

a.current{
  font-weight: bold;
}

li.active a{
  font-weight: bold;
}

#main-menu .toctree-l1{
  text-transform: uppercase; 
  font-size: 16px;
  margin-bottom: 35px;
  text-indent:0em;
  list-style: none;
}

#main-menu .toctree-l1.current{

}

#main-menu .toctree-l1 a{
  color: #333;
}

#main-menu .toctree-l1 ul{
  padding-left: 30px;
}

#main-menu .toctree-l2{
  text-transform: uppercase; 
  font-size: 12px;
  margin-top: 15px;
  text-indent:-2px;  
  list-style-image:url('../images/disc.png');
}

#versions{
  margin: 17px 10px 0 20px;
}
/**************/
/* COMPONENTS */
/**************/

.select-style {
  box-sizing: border-box;
  position: relative;
  float: left;
  font-size: 14px;
  padding: 1px 0px 0px 5px;
  margin-top: 5px;
  width: 150px;
  height: 25px;
  border-radius: 5px;   
  color: white;
}

.select-style ul{
  margin-top: 0px;  
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 25px;
  width: 100%;
  background-color: #00b7e8;
  z-index: 10;
  padding-top: 3px;
  box-sizing: border-box;
}

.select-style ul li{
  padding-top: 2px;
  list-style: none;
  margin-bottom: 3px;
  width: 100%;
  cursor: pointer;
}

.select-style ul li .arrow{
  width: auto;
  display: inline-block;
  float: right;
  position: absolute;
  right: 7px;
  font-size: 30px;
  line-height: 0;
  top: 13px;
  color: #00749b;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.select-style ul li a{
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
}

/*** TOCTREE ***/
.toctree-wrapper a{
  text-decoration: none;
  color: black;
}

a.support img{
  opacity: 0.5;
}

a.support:hover img{
  opacity: 1;
}

#body-content .toctree-wrapper li {
  margin-bottom: 10px;
}

#body-content li.toctree-l1{
  margin-bottom: 40px;
}

#body-content li.toctree-l1 > ul {
margin-top: 10px;
}

#body-content li.toctree-l2 > ul {
  margin-top: 10px;
}



/*** Breadcrums ***/
.wy-breadcrumbs {
  margin: 30px 0 0 20px;
  padding: 0px;
}

.wy-breadcrumbs li{
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  display: inline;
}

.wy-breadcrumbs li a{
  display: inline;
}

/*** FIXING SCROLL PLUGIN CSS ***/

.mCSB_inside>.mCSB_container{
  margin-right: 0px !important;
}

#copyright{
  color: #b2b4b4;
  font-family: Muli;
  font-size: 10px;
  width: 100%;
  text-align: center;
  height: 25px;
}

#responsive-button{
  display: none;
}


/*** MORE PRODUCTS MENU ***/
#select-product{
  color: white;
  padding: 12px 10px 20px 60px;
  position: absolute;
  top: 12px;
  left: 228px;
  background: #41b6e6;
  width: 760px;
  height: 380px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear; /* For Safari 3.1 to 6.0 */
  transition: all 0.3s linear;
  z-index: 20;
}

#select-product .products-content{
  float: left;
  height: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

#select-product.closed{
  width: 0px;
  height: 0px;
  padding: 0px;
  -webkit-transition: all 0.3s linear 0.0s; /* For Safari 3.1 to 6.0 */
  transition: all 0.3s linear 0.0s;
}

#select-product.closed *{
  opacity: 0;
  -webkit-transition: all 0.3s linear; /* For Safari 3.1 to 6.0 */
  transition: all 0.2s linear;
}

#select-product.closed .close-more-products{
  opacity: 1;
}

#select-product *{
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0.2s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.3s linear 0.2s;
}



#select-product h3{
  font-weight: normal;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 30px;
}

#select-product .category{
  width:200px;
  display: inline-block;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-right: 30px;
}

#select-product .category li{
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 7px;
  line-height: 35px;
}

.category li span{
  font-weight: bold;
}

.category li a{
  color: white;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.category li .products-logo{
  float:left;
  margin-right: 13px;
}

#select-product .close-more-products{
  width: 40px;
  height: 40px;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  background: #00749b;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  top:0px;
  left:0px;
  z-index: 1001;
}

#select-product{
    color: white;
    padding: 12px 10px 20px 20px;
    position: absolute;
    top: 11px;
    left: 0px;
    background: #41b6e6;
    width: 280px;
    height: 100%;
    overflow: hidden;
    -webkit-transition: all 0.3s linear; /* For Safari 3.1 to 6.0 */
    transition: all 0.3s linear;
    z-index: 20;
    box-sizing: border-box;
  }

  #select-product ul:last-child{
    margin-bottom: 40px;
  }

  #select-product h3{
    padding-right: 40px;
  }

  #select-product.closed{
    width: 280px;
  }

  #select-product .close-more-products{
    top:0px;
    left:auto;
    right: 12px;
  }

/*** SEARCH BOX ***/
#search-wrapper{
  position: relative;
  float: left;
}

#search-wrapper input{
  width: 280px;
  outline: 0;
  border: none;
  height: 40px;
  padding-left: 20px;
  background: #AAA;
  color: white;
  padding-right: 42px;
  box-sizing: border-box;
}

#search-wrapper input:focus{
  outline: 0;
  border:  none;  
}

#search-wrapper i{
  position: absolute;
  top: 0;
  right: 15px;
  margin-top: 10px;
  font-size: 20px;
  color:    #f2f2f2;
}

#search-wrapper input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f2f2f2;
}
#search-wrapper input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #f2f2f2;
   opacity:  1;
}
#search-wrapper input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #f2f2f2;
   opacity:  1;
}
#search-wrapper input::-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #f2f2f2;
}

/*** SEARCH PAGE ***/

#search-results h2{
  margin-top: 0.67em;
  padding-top: 0px;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

ul.search{
  margin-top: 20px;
  padding-left: 0px;
}

ul.search li{
  list-style: none;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 40px;
}

ul.search .context{
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
}

.highlighted{
  background: #7cdca7;
  padding: 2px;
}


pre{
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em
}




/**** RESPONSIVE ****/

@media (max-width: 1080px){
  #select-product{
    color: white;
    padding: 12px 10px 20px 20px;
    position: absolute;
    top: 11px;
    left: 0px;
    background: #41b6e6;
    width: 280px;
    height: 100%;
    overflow: hidden;
    -webkit-transition: all 0.3s linear; /* For Safari 3.1 to 6.0 */
    transition: all 0.3s linear;
    z-index: 20;
    box-sizing: border-box;
  }

  #select-product ul:last-child{
    margin-bottom: 40px;
  }

  #select-product h3{
    padding-right: 40px;
  }

  #select-product.closed{
    width: 280px;
  }

  #select-product .close-more-products{
    top:0px;
    left:auto;
    right: 12px;
  }

}

@media (min-width: 460px) and (max-width: 769px) {
  #sidebar{
    position: fixed;
    width: 280px;
    background: #f2f2f2;
    top: 70px;
    left: -300px;
    bottom: 0px;
    box-sizing: border-box;
    -webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
    transition: left 0.5s;
  }

  #sidebar.shown{
    left: 0px;
  }


  #main-content{
    width: 100%;
    max-width:1000px;
    margin-left: 0px;
    float: left;
    background: #fff;
    box-sizing: border-box;
    margin-top:70px;
  }

  #responsive-button{
    display: block;
    color: white;
    font-size: 32px;
    float: left;
    margin-right: 20px;
  }
}

@media (max-width: 460px) {
  .site-title{
    display: none;
  }

  #sidebar{
    position: fixed;
    width: 280px;
    background: #f2f2f2;
    top: 70px;
    left: -300px;
    bottom: 0px;
    box-sizing: border-box;
    -webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
    transition: left 0.5s;
  }

  #sidebar.shown{
    left: 0px;
  }


  #main-content{
    width: 100%;
    max-width:1000px;
    margin-left: 0px;
    float: left;
    background: #fff;
    box-sizing: border-box;
    margin-top:70px;
  }

  #responsive-button{
    display: block;
    color: white;
    font-size: 32px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
  }
}